<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353744236650-bsp5voc66pluhb6m0ifmm8glsmutspci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353744236650-bsp5voc66pluhb6m0ifmm8glsmutspci</string>
	<key>API_KEY</key>
	<string>AIzaSyCUFdAFQBsGjHLe5z4z21xoUYVOEpD_o3o</string>
	<key>GCM_SENDER_ID</key>
	<string>353744236650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.incident</string>
	<key>PROJECT_ID</key>
	<string>projeto-flutter-9ab7f</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-flutter-9ab7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353744236650:ios:f6e64ee864aba955e71a13</string>
</dict>
</plist>